<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  https://go.microsoft.com/fwlink/?LinkId=169433
-->
<configuration>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2" requestPathInvalidCharacters=""/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <add name="ajax" verb="POST,GET" path="ajax/*.ashx" type="Ajax.PageHandlerFactory, Ajax" />      
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <connectionStrings>
    <!--数据库连接串-->
    <add name="ConnectionString" connectionString="server=localhost;database=Express;uid=sa;pwd=limingxu" />
  </connectionStrings>
  <appSettings>

    <!--开发配置start-->
    <add key="WinXinDeBug" value="true" />
    <!--微信开发环境-->
    <add key="wx_debugOpenid" value="oXlqPw5Y_-ZU27OhRs_k4tE94gGA" />    
    <!--开发配置end-->
    
    <!--微信公众号配置Start-->
    <add key="AppID" value="wx0472f6e059661ec4"/>
    <!--微信AppID-->
    <add key="AppSecret" value="f8ef69d028a3167d18951a3ac306d927"/>
    <!--微信AppSecret-->
    <add key="Token" value="cheese"/>
    <!--微信自定义Token-->
    <add key="EncodingAESKey" value="7EpfGg6oJTi4RZHCjgr1f9vAk8zB9GWSZ57Aa9YZMuo"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30AD4FE6B2A6AEED" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>